  <head>

  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


  <style>

body {
  background-color: #346094;
}


h1 {font-size: 600%; color: white; font-family: helvetica;text-align: center}


p{font-family: helvetica; font-size: 200%; color: white; text-align: center}

img {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}

</style>

<nav class="navbar navbar-expand-lg navbar-light py-3" style = "background-color: #FFFFFF">
  <div class="container-fluid" style="font-size:30px">
  <a class="navbar-brand" href="#"><img src = "https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1448128738/cl28wyysskerya6m752m.png" style="width:40px; height:40px"></a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         <%= link_to "Home", '/welcome', method: :get%>
         <%= link_to "Login", '/login', method: :get%>
        <%= link_to "Sign Up", '/signup', method: :get%>
        <%= link_to "Contact Us", '/contacts/new', method: :get%>
      </div>
  </div>
  </div>
</nav>
<h1>Login</h1>
<hr>
<div>
<%= form_tag '/login' do %>
  <%= label_tag :email%>
  <%= text_field_tag :email %>
  <%= label_tag :password%>
  <%= password_field_tag :password%>
  <%= submit_tag "Login"%>
<%end%>
</div>
<footer>
  <p style = "text-align: center; color: #346094"> Team U+1F5FF </p>
</footer>
</body>