<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light py-3" style = "background-color: #FFFFFF">
  <div class="container-fluid" style="font-size:30px">
  <a class="navbar-brand" href="#"><img src = "https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1448128738/cl28wyysskerya6m752m.png" style="width:40px; height:40px"></a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <%= link_to "Home", '/welcome', method: :get%>
        <%= link_to "Login", '/login', method: :get%>
        <%= link_to "Contact Us", '/contacts/new', method: :get%>
      </div>
  </div>
  </div>
</nav>

<style>
body {
  background-color: #346094;
}
</style>


<h1>New User</h1>

<div class = "container p-3 my-3 border" style = "background-color:white">
<div>


<%= form_for @user do |f|%>
  <div class="form-group" >
    <%= f.label :email%><br>
    <%= f.text_field :email, {class:"form-control", placeholder:"Email"}%> 
    <% if @user.errors.full_messages_for(:email).any? %>
      <% @user.errors.full_messages_for(:email).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>
  
  
  <div class="form-group">
    <%= f.label :fname, 'First Name'%><br>
    <%= f.text_field :fname, {class:"form-control", placeholder:"First Name"}%>
    <% if @user.errors.full_messages_for(:fname).any? %>
      <% @user.errors.full_messages_for(:fname).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="form-group" >
    <%= f.label :lname, 'Last Name'%><br>
    <%= f.text_field :lname, {class:"form-control", placeholder:"Last Name"}%>
    <% if @user.errors.full_messages_for(:lname).any? %>
      <% @user.errors.full_messages_for(:lname).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password%><br>
    <%= f.password_field :password,{class:"form-control", placeholder:"Password"}%>
    <% if @user.errors.full_messages_for(:password).any? %>
      <% @user.errors.full_messages_for(:password).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation%><br>
    <%= f.password_field :password_confirmation, {class:"form-control", placeholder:"Password Confirmation"}%>
    <% if @user.errors.full_messages_for(:password_confirmation).any? %>
      <% @user.errors.full_messages_for(:password_confirmation).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="form-check">
    <input type="checkbox" class = "form-check-input" id="org-check" name="org-check" value="1">
    <label class = "form-check-label" for="org-check">I represent an organization</label>
  </div>
  <div>
  
  </div>

  <div id="org-field"  style="display:none;">
  <h2>Organization Information</h2>
    <div class="field">
      <%= f.label :organization, 'Organization'%><br>
      <%= f.text_field :organization, {class:"form-control", placeholder:"Organization Information"}%>
      <% if @user.errors.full_messages_for(:organization).any? %>
        <% @user.errors.full_messages_for(:organization).each do |error| %>
          <p class="error"> <%= error %> </p>
        <% end %>
      <% end %>
    </div>

    <div class="org-field">
      <%= f.label :address, 'Address'%><br>
      <%= f.text_field :address, {class:"form-control", placeholder:"Organization Information"}%>
      <% if @user.errors.full_messages_for(:address).any? %>
        <% @user.errors.full_messages_for(:address).each do |error| %>
          <p class="error"> <%= error %> </p>
        <% end %>
      <% end %>
    </div>

    <div class="field" >
      <%= f.label :orginfo, "Organization Information"%><br>
      <%= f.text_area :orginfo, :cols => 50, :rows => 10%>
      <% if @user.errors.full_messages_for(:orginfo).any? %>
        <% @user.errors.full_messages_for(:orginfo).each do |error| %>
          <p class="error"> <%= error %> </p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.submit "Submit", {class:"btn btn-default"}%>
  </div>
<%end%>
</div>

</div>

<script>
  var org_check = document.getElementById("org-check");

  org_check.addEventListener('change', function () {
    if (this.checked) {
        var org_field = document.getElementById("org-field");
        org_field.style.display = "block";
    } else {
        var org_field = document.getElementById("org-field");
        org_field.style.display = "none";
    }
  });
</script>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>