<h1>New User</h1>


<div>

<%= form_for @user do |f|%>
  <div class="field" >
    <%= f.label :email%><br>
    <%= f.text_field :email%> 
    <% if @user.errors.full_messages_for(:email).any? %>
      <% @user.errors.full_messages_for(:email).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :fname, 'First Name'%><br>
    <%= f.text_field :fname%>
    <% if @user.errors.full_messages_for(:fname).any? %>
      <% @user.errors.full_messages_for(:fname).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="field" >
    <%= f.label :lname, 'Last Name'%><br>
    <%= f.text_field :lname%>
    <% if @user.errors.full_messages_for(:lname).any? %>
      <% @user.errors.full_messages_for(:lname).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password%><br>
    <%= f.password_field :password%>
    <% if @user.errors.full_messages_for(:password).any? %>
      <% @user.errors.full_messages_for(:password).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation%><br>
    <%= f.password_field :password_confirmation%>
    <% if @user.errors.full_messages_for(:password_confirmation).any? %>
      <% @user.errors.full_messages_for(:password_confirmation).each do |error| %>
        <p class="error"> <%= error %> </p>
      <% end %>
    <% end %>
  </div>

  <div>
    <input type="checkbox" id="org-check" name="org-check" value="1">
    <label for="org-check">I represent an organization</label>
  </div>
  <div>
  
  </div>

  <div id="org-field"  style="display:none;">
  <h2>Organization Information</h2>
    <div class="field">
      <%= f.label :organization, 'Organization'%><br>
      <%= f.text_field :organization%>
      <% if @user.errors.full_messages_for(:organization).any? %>
        <% @user.errors.full_messages_for(:organization).each do |error| %>
          <p class="error"> <%= error %> </p>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :address, 'Address'%><br>
      <%= f.text_field :address%>
      <% if @user.errors.full_messages_for(:address).any? %>
        <% @user.errors.full_messages_for(:address).each do |error| %>
          <p class="error"> <%= error %> </p>
        <% end %>
      <% end %>
    </div>

    <div class="field" >
      <%= f.label :orginfo, "Organization Information"%><br>
      <%= f.text_area :orginfo, :cols => 50, :rows => 10%>
      <% if @user.errors.full_messages_for(:orginfo).any? %>
        <% @user.errors.full_messages_for(:orginfo).each do |error| %>
          <p class="error"> <%= error %> </p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>
<%end%>
</div>

<script>
  var org_check = document.getElementById("org-check");

  org_check.addEventListener('change', function () {
    if (this.checked) {
        var org_field = document.getElementById("org-field");
        org_field.style.display = "block";
    } else {
        var org_field = document.getElementById("org-field");
        org_field.style.display = "none";
    }
  });
</script>