<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="index.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Contact us</title>
</head>
<body>
<style>
  body {
      background-color: #346094
  }

  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
  }

</style>

<nav class="navbar navbar-expand-lg navbar-light py-3" style = "background-color: #FFFFFF">
  <div class="container-fluid" style="font-size:30px">
    <a class="navbar-brand" href="#"><img src = "https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1448128738/cl28wyysskerya6m752m.png" style="width:40px; height:40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if logged_in?%>
          <%= link_to "Organizations", '/organizations', method: :get%>
          <%= link_to "Events", '/events', method: :get%>
          <%= link_to "Contact us", '/contacts/new', method: :get%>
          <%= link_to "Logout", '/logout', method: :delete%>
        <% else %>
          <%= link_to "Login", '/login', method: :get%>
          <%= link_to "Sign Up", '/signup', method: :get%>
          <%= link_to "Contact Us", '/contacts/new', method: :get%>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<br>
<h1 style="color: white; text-align: center; font-size: 60px"> Contact us </h1>
<br>
<p style="font-size: medium; color: #fff; text-align: center; font-size: 30px"> Need assistance? </p>
<br>
<p style="color: white; font-size: medium; text-align: center; font-size: 30px"> Call 1-877-On Your Side (1-877-669-6877) or fill out the form below </p>
<br>
<div style="text-align: center">
  <%= render 'form', contact: @contact%>
</div>

<img src="https://cdn.discordapp.com/attachments/865245328084697118/865431288047337482/unknown.png" class="center">

<footer>
  <p style = "text-align: center; color: #346094"> Team U+1F5FF </p>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>