<h1><%= @org.name %></h1>
<h2>Location: <%= @org.address%></h2>
<h3><%=@org.info%></h3>
<% if @works_here == true %>
    <%= link_to "Create event", '/create_event'%>
<% end %>

<div>
    <h3>Events</h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%if !@events.blank?%>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to 'Show', event %></td>
        <td><%=event.name%></td>
        <td><%=event.num_needed%></td>
      </tr>
    <% end %>
    <%else%>
        <% if @works_here == true %>
          Your organization has not created any events.
        <%else%>
          This organization has not created any events.
        <%end%>
    <%end%>
  </tbody>
</table>
</div>